{% extends "_layouts/base.html" %}


{% block page_title %}New User | {% endblock %}

{% block page_content %}
{% if registered %}
    <strong>Thank you for registering!</strong>

{% else %}

    <h2>Register here:</h2>
    <strong>Fields with a * are required</strong>
    <form method="post">

        {% csrf_token %}
        <ul>
        <div class="fieldWrapper">
        {% for field in form %}
        {% if field.errors %}
        {{ field.errors }}
        <li>{{ field.label_tag }} {{ field }}</li>
        {% else %}
        <li>{{ field.label_tag }} {{ field }}</li>

        {% endif %}
        {% endfor %}

        </div>

        </ul>
        <ul>




        </ul>
<!--        <ul>

            <li><label for="user_name">User name: </label>
            <input id="user_name" type="text" name="username" value="{{username}}"></li>
            <li><label for="email1">Email address: </label>
            <input id="email1" type="text" name="email1" value="{{email}}"></li>
            <li><label for="email2">Verify email address: </label>
            <input id="email2" type="text" name="email2" value="{{email}}"></li>
            <li><label for="password1">Password</label>
            <input id="password1" type="password" name="password1" value="{{password1}}"></li>
            <li><label for="password2">Password confirmation</label>
            <input id="password2" type="password" name="password2" value="{{password2}}"></li>
        </ul>
-->

        <input type="submit" name="submit" value="Join" />
    </form>

{% endif %}

{% endblock %}
