{% extends "_layouts/base.html" %}


{% block page_title %}{{player.username}}'s Profile | {% endblock %}

{% block page_content %}
{% if user.username == player.username %}
	<h3>{{ player.username }}
    <a href="{% url 'players:update' user.username %}">(edit profile)</a></h3>

    <br>

    <div class='container'>
      <div class='col-sm-4'>
      <ul class='list-unstyled'>
	  <li><strong>Email: </strong>{{ player.email }}</li>

      <li><strong>First name: </strong>{{ player.first_name }}</li>
      <li><strong>Last name: </strong>{{ player.last_name }}</li>
	  <li><strong>Phone number: </strong>{{ player.phone_number }}</li>
	  <li><strong>Home address: </strong>{{ player.home_address }}</li>
      <li><strong>State: </strong>{{ player.state }} </li>
      <li><strong>Home zipcode: </strong>{{ player.home_zip }} </li>
	  <li><strong>Work address: </strong>{{ player.work_address }}</li>
      <li><strong>Work zipcode: </strong>{{ player.work_zip }} </li>

      <br>

      </ul>
      </div>
      <div class='col-sm-4 col-sm-offset-1'
      <li><strong>My Groups: ({{members|length}} total)</strong>
      <div class='container'>
        {% for member in members %}
        <ul class='list-unstyled'>
          <li><a href="{% url 'rosters:detail' member.roster.id member.roster.slug %}">{{member.roster.name}}</a></li>

        </ul>
        {% endfor %}
      </div>
      </div>
    </div>

{% else %}
	<h2>not authorized to view this profile.</h2>
    <p><a href="{%  url 'players:detail' user.username %}">Back to Your Profile</a></p>
{% endif %}

{% endblock %}
