{% extends "_layouts/base.html" %}


{% block page_title %}New User | {% endblock %}

{% block page_content %}
{% if registered %}
    <strong>Thank you for registering!</strong>

{% else %}

    <h2>Register here:</h2>
    <strong>Fields with a * are required</strong>
    <form action="" method="post">

        {% csrf_token %}
        <ul>
        <div class="fieldWrapper">
        {% for field in form %}
        {% if field.errors %}
        {{ field.errors }}
        <li>{{ field.label_tag }} {{ field }}</li>
        {% else %}
        <li>{{ field.label_tag }} {{ field }}</li>

        {% endif %}
        {% endfor %}

        </div>

        </ul>
        <ul>

        </ul>
        <input type="submit" name="submit" value="Join" />
    </form>

{% endif %}

{% endblock %}
