{% extends "_layouts/base.html" %}


{% block page_title %}New User | {% endblock %}

{% block page_content %}
<div class="col-sm-8 blog-main">
{% if registered %}
    <strong>Thank you for registering!</strong>

{% else %}

    <h3>Let's get started!</h3>
    <p>By default, this information is not shared with anyone.  You can share as you see fit, with different permissions for each group that you belong to.  A player can look at your profile only if they share a group with you, and then they can only see the fields that you chose to share with that particular group.</p>
    <form action="" method="post">

        {% csrf_token %}

        <div class="fieldWrapper">
        {% for field in form %}
        {% if field.errors %}
            <div class="field-error" for="errors">
            {{ field.errors }}
            </div>
        {% endif %}
            <div class="control-label" for="{{ field.auto_id }}">
                {{ field.label_tag }}

                {% if field.field.required %}
                    <span class="special_class">*</span>
                {% endif %}
            </div>
            <div class="controls">

            {{ field }}
            </div>
            <br>
        {% endfor %}
        </div>

        </ul>
        <ul>

        </ul>
        <input type="submit" name="submit" value="Join" />
    </form>


{% endif %}
</div>
{% endblock %}
