{% extends "_layouts/base.html" %}


{% block page_title %}New User | {% endblock %}

{% block page_content %}
<div class="col-sm-8 col-sm-offset-1 blog-main">
<div class='sidebar-module sidebar-module-inset'>
{% if registered %}
    <strong>Thank you for registering!</strong>

{% else %}

    <h3>Let's get started!</h3>
    <p>By default, this information is not shared with anyone.  While in an active game, any player who has you as their target will be able to see your profile information, so it is best to assume that everyone in your groups will have access to your information as some point.</p>
    <form action="" method="post">

        {% csrf_token %}

        <div class="fieldWrapper">
        {% for field in form %}

            <div class="control-label" for="{{ field.auto_id }}">
                {{ field.label_tag }}

                {% if field.field.required %}
                    <span class="special_class">*</span>
                {% endif %}
            </div>
             {% if field.errors %}
            <div class="field-error" for="errors">
            {{ field.errors }}
            </div>
            {% endif %}
            <div class="controls">

            {{ field }}
            </div>

        {% endfor %}
        </div>

        <br>
        <input class='btn btn-primary' type="submit" name="submit" value="Join" />
    </form>


{% endif %}
</div>
</div>
{% endblock %}
