{% extends "_layouts/base.html" %}


{% block page_title %}Start new game for: {{roster.name}} | {% endblock %}
{% block page_content %}

<div class='col-sm-6 '>
<div class='sidebar-module sidebar-module-inset'>
  <form action="" method="post">

    {% csrf_token %}

    <div class="fieldWrapper">
      {% if form.mode.errors %}
      <div class="field-error" for="errors">
        {{form.mode.errors}}
      </div>
      {% endif %}
      <div class="control-label" for='{{ form.mode.auto_id }}'>
        <h4>{{form.mode.label_tag}}</h4>
      </div>
      <p><em>note: this currently has no effect on gameplay.
      Any choice will still use standard mode rules</em></p>
      {% if form.mode.field.required %}
        <span class="special_class">*</span>
      {% endif %}

      {{form.mode}}

    </div>
    <br>
    <div class="fieldWrapper">
      {% if form.house_rules.errors %}
      <div class="field-error" for="errors">
        {{form.house_rules.errors}}
      </div>
      {% endif %}
      <div class="control-label" for="{{ form.house_rules.auto_id }}">
        <h4>{{form.house_rules.label_tag}}</h4>
      </div>
      {% if form.house_rules.field.required %}
        <span class="special_class">*</span>
      {% endif %}
      <textarea  id="id_house_rules" name="house_rules" placeholder='Make note of any special rules your game will require.' style='width:100%;height:100%;'></textarea>
    </div>
    <br>
    <p><input type="submit" class='btn' name="submit" value="Start Game" />
    <a href="{{view.get_success_url}}" class='btn'>Cancel</a></p>
  </form>
</div>
</div>
<div class='col-sm-3 '>
  <div class='panel panel-success'>
    <div class='panel-heading'>
      <h3 class='panel-title'>Participating Players</h3>
    </div>
    <div class='panel-body'>
      <ul class='list-unstyled'>
      {% for member in members %}
        {% if member.is_active %}
        <li><p>{{member.player.username}}</p></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class='panel panel-danger'>
    <div class='panel-heading'>
      <h3 class='panel-title'>Inactive Players</h3>
    </div>
    <div class='panel-body'>
      <ul class='list-unstyled'>
      {% for member in members %}
        {% if not member.is_active %}
        <li><p>{{member.player.username}}</p></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}