{% extends "_layouts/base.html" %}


{% block page_title %}{{roster.name}} | {% endblock %}

{% block page_content %}

<div class='row'>
  <div class='col-sm-10 col-sm-offset-1' id='gname'>
  <center>
    <h2>{{ roster.name}}</h2>
    <h4>{{ roster.city }}, {{roster.state}}</h4>
    <p>Status: {{ roster.status }}</p>
  </div>
  </center>
</div>
{% if thismember.is_moderator %}
<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
    <form action='' method='post'>
      {% csrf_token %}
      <input type='text' class='form-control' placeholder="Type new status and press 'enter'" name='new_status'/>
      <input type='submit' class='btn hidden' value="change status"/>
    </form>
  </div>
</div>
<br>
{% endif %}


{% if is_member == True and thismember.is_approved %}
<div class='row'>
  <div class="col-sm-3  mod-zone" id='left-bar'>

  {% if thismember.is_moderator %}

    <div class="sidebar-module sidebar-module-inset">
    <h4>Moderator Options:</h4>


      <ul class="list-unstyled">
      {% if game.is_active %}
        <li><a class='list-group-item list-group-item-danger'  href="{% url 'rosters:gcancel' roster.id roster.slug game.id %}">cancel game</a>
      {% else %}
        <li><a class='list-group-item list-group-item-success' href="{% url 'rosters:newgame' roster.id roster.slug %}">start game</a></li>
      {% endif %}
        <li><a class='list-group-item' href="{% url 'rosters:rupdate' roster.id roster.slug %}">edit group details</a></li>
        <div class='dropdown theme-dropdown clearfix'>
        <li class='dropdown' data-toggle='dropdown'><a class='list-group-item' class='dropdown-toggle' data-toggle='dropdown' href="#">join requests ({{pending}})</a>

          <ul style='list-unstyled sidebar-module' class='dropdown-menu'>
          {% for member in members %}
            {% if not member.is_approved %}
            <li role='presentation' style="sidebar-module">
              <a href='#' role='menuitem'><b>{{member.player.username}}</b>
              <form action='' method='post'>
              {% csrf_token %}

                <input type='text' name='mem_id' class='hidden' value='{{member.id}}'/>
                <input type='submit' class='btn-xs' name='approve' value='Approve'/>
                <input type='submit' class='btn-xs' name='deny' value='Deny'/>
              </form>
              </a>
            </li>
            {% endif %}
          {% endfor %}
          </ul>
        </li>
        </div>

        <li><a class='list-group-item' href="#">kick player</a></li>
      </ul>
    </div>
  <br>
  {% endif %}


  <div class="sidebar-module sidebar-module-inset">
    <h4>Your Actions:</h4>
      <ul class='list-unstyled'>
      {% if game.is_active %}

        <li><a class='list-group-item' href="#">Drop game</a></li>
      {% else %}
        {% if thismember.is_active %}
        <li>
          <form action='' method='post'>
          {% csrf_token %}
            <a class='list-group-item' href="#" name='deactivate'>Deactivate self</a></li>
          </form>
        </li>
        {% else %}
          <li><a class='list-group-item' href="#">Activate</a></li>
        {% endif %}

      {% endif %}
        <li><a class='list-group-item' href="#">Manage privacy</a></li>
      </ul>


  </div>
  <br>
 <!-- <div class="sidebar-module" style=
  {% if game.is_active %} 'background-color:lightgreen'
  {% elif game.cancelled %} 'background-color:lightcoral'
  {% elif game.completed %} 'background-color:lightskyblue'
  {% else %}''
  {% endif %}> -->

  <div class='panel
  {% if game.is_active %} panel-success
  {% elif game.completed %} panel-primary
  {% elif game.cancelled %} panel-danger
  {% else %} panel-default
  {% endif %}
  '>
    <div class='panel-heading'>
      <h4 class='panel-title'>Game Status:</h4>
    </div>
    <div class='panel-body'>
      <ul class='list-unstyled'>

        <li><b>Game:</b>
      {% if game.is_active %}
        active
      {% elif game.completed %}
        complete
      {% elif game.cancelled %}
        cancelled on {{game.end_time}}
      {% else %}
        no game
      {% endif %}
        </li>
    <!-- display active game stats here -->
    {% if game.is_active %}
        <li><b>Mode:</b> {{game.mode}}</li>
        <li><b>Started:</b> {{ game.start_time }}</li>
        <li><b>Players:</b> {{living_len}} remaining</li>
        <li class='dropdown'><b>Deaths:</b>
        {% if dead_list %}
          <a href='#' class='dropdown-toggle' data-toggle='dropdown'>{{dead_list|length}}
          player{% if dead_list|length > 1 %}s
          {% endif %}
          </a>

          <ul class='dropdown-menu'>
          <div class='sidebar-module'>
        {% for player in dead_list %}
            <li><b>{{player}}</b></li>
        {% endfor %}
          </div>
          </ul>

        {% else %}
          None
        {% endif %}
        </li>
    {% else %}

    <li><a href='#'>click to view stats</a></li>

    {% endif %}
    </ul>
    </div>
  </div>


</div>

<div class="col-sm-6 sidebar-module wall-main">

  {% if game.is_active and thismember.is_active %}
  <div class='target-info'>
    <h4>Your target:</h4>
    <ul class='list-unstyled'>
      <li><b>Username:</b> {{target.player.username}}</li>
      <li><b>Name:</b> {{target.player.get_full_name}}</li>
      <li><b>Home:</b> {{target.player.home_address}}, {{target.player.home_zip}}</li>
      <li><b>Work:</b> {{target.player.work_address}}, {{target.player.work_zip}}</li>

      <li><input type='button' class='btn btn-primary btn-block' id='kill-btn' value='Click here to report a kill on your target' onclick="javascript:change('kill-form');"></li>
      <li>
        <div id='kill-form' style='display:none;'>
          <form action='' method="post">
          {% csrf_token %}
            <div class='sidebar-module'>

                <textarea style='width:100%; height:100%' placeholder="Describe how your target met their doom..." name='flavor_text'></textarea>

            <input type='submit' class='btn btn-danger btn-block' name='kill_tgt' value="Kill Target"/>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
  {% endif %}

  <div class='sidebar-module comments-events'>

    <h4>comment/event stream</h4>
    <ul class='list-unstyled'>
      <li><input type='button' class='btn btn-primary btn-block' id='comment-btn' value='Click here to add a comment' onclick="javascript:change('comment-form');"></li>
      <li>
        <div id='comment-form' style='display:none;'>
          <form action='' method="post">
          {% csrf_token %}
            <div class='sidebar-module'>

                <textarea style='width:100%; height:100%' placeholder="add a comment" name='comment_text'></textarea>

            <input type='submit' class='btn btn-primary btn-block' name='comment' value="Submit comment"/>
            </div>
          </form>
        </div>
      </li>
    </ul>
    <table class='table table-striped'>
    <tbody>

    {% for item in stream %}

      <tr><td>
          {% if item.target %}
            <em>{{item.target.username}}</em> {{item.flavor_text}}
          {% elif item.player %}
            "{{item.text}}"  -<em>{{item.player.username}}</em>
          {% endif %}

        <div class='sidebar-module'>
        <em>{{item.creation_time}}</em>
        </div>


      </td></tr>




    {% endfor %}
    </tbody>

    </table>

  </div>

</div>
<br>





<div class="col-sm-3 " id='right-bar'><!-- right sidebar -->
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>{{ roster.description }}</p>
            <h4>Location</h4>
            <p>{{ roster.city }}, {{roster.state}} {{roster.zipcode}}</p>
          </div>
          <br>
          <div class="panel panel-primary">
            <div class='panel-heading'>
            <h4 class='panel-title'>Members: {{members.count}} </h4>
            </div>
            <div class='panel-body'>
            <ol class="list-unstyled">
              {% for member in members %}
              <div class='dropdown theme-dropdown clearfix'>
              <li class='dropdown'><b><a href="#" class='dropdown-toggle' data-toggle='dropdown'>{{member.player.username}}
                {% if member.is_moderator %}
                (mod)</a>
                {% elif not member.is_approved %}
                (pending)</a>

                {% endif %}
                </a>
                <ul class='dropdown-menu'>
                  <li role='presentation'><a role='menuitem' href="#"><b>Wins:</b> {{member.games_won}}</a></li>
                  <li role='presentation'><a role='menuitem' href="#"><b>Kills:</b> {{member.frags}}</a></li>
                  <li role='presentation'><a role='menuitem' href="#"><b>Deaths:</b> {{member.deaths}}</a></li>
                  <li role='presentation'><a role='menuitem' href="#"><b>Total Games:</b> {{member.total_games_played}}</a></li>
                </ul>

              </a></b></li>
              </div>
              {% endfor %}


            </ol>
            </div>
          </div>

        </div><!-- end sidebar -->
{% else %}

  <div class='row'>

  <div class="col-xs-8 col-xs-offset-2" id='unapproved'>
    <center>
    <ul class='list-unstyled'>
    {% if not is_member %}
    <h3>You must join this group to view its details</h3>
    <br>
    <li><form action='' method='post'>
      {% csrf_token %}

      <input type='submit' class='btn-lg' name='req_approval' value='Request Approval'/>
    </form></li>
    {% else %}
    <li><h4>You requested approval on: {{thismember.date_joined}}</h4></li>
    {% endif %}


    </ul>
    </center>
  </div>

  </div>

{% endif %}
</div>
<script>
function change(id) {

    var div = document.getElementById(id)
    if (div.style.display != 'none'){
        div.style.display = 'none'
    }
    else{
        div.style.display = 'block'
    }

}
</script>

{% endblock %}