{% extends "_layouts/base.html" %}


{% block page_title %}{{roster.name}} | {% endblock %}

{% block page_content %}
{% if user.is_authenticated %}
<div class="col-sm-8 blog-main">
<center>
<h3>{{ roster.name}}</h3>
<p>Status: {{ roster.status}}</p>
</center>
</div>

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset"
          style="padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;">
            <h4>About</h4>
            <p>{{ roster.description }}</p>
          </div>
          <div class="sidebar-module">
            <h4>Members</h4>
            <ol class="list-unstyled">
              {%for player in roster.members.all %}
              <li><b><a href="#">
                {{player.username}}
                {{membership.date_joined}}



              </a></b></li>
              {% endfor %}
              {% for member in roster.membership.all %}
                <li><p>{{member.player.email}}
                  {{member.date_joined}}</p></li>
              {% endfor %}
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- end sidebar -->
{% else %}
    <h2>not authorized to view this group.</h2>
{% endif %}
{% endblock %}