{% extends "_layouts/base.html" %}

{% block page_title %} List of Groups | {% endblock %}

{% block page_content %}
<h3>Groups <a href="{% url 'rosters:create' %}">(new)</a></h3>

<ul>
    {% for group in roster_list %}
    <li><a href="{{ group.get_absolute_url }}">
        {{ group.name }}

    </a><p><strong>Current status: </strong>{{ group.status }}</p>
    <p><strong>Location: </strong>{{ group.city}}</p>
    </li>


    {% empty %}
    <li>no group yet...

    </li>
    {% endfor %}


</ul>
{% endblock %}
