<!doctype html>
<html style="position: relative; min-height: 100%;">

  <head>
    <title>{% block page_title %}{% endblock %}Hiddenblade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/rosterdashboard.css">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/glyphicons_377_riflescope.png">
  </head>
  <body style="margin-bottom: 60px;background-color:#AADDFF">

  <div class='container'>
    <div class="navbar navbar-default">
    {% block page_heading %}
      <div class="navbar-brand">
      <b><a href="{% url 'home' %}" class='btn-lg'>Hiddenblade</a></b>
      </div>

      <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse navHeaderCollapse">
      {% block menu_bar %}

        <ul class="nav navbar-nav navbar-right">
            <li
            {% if request.path|slice:"1:6" == "about"%}class='active'{%endif%}
            >
              <a href="{% url 'about' %}">About</a>
            </li>
            <li
            {% if request.path|slice:"1:6" == "group"%}class='active'{%endif%}
            >
              <a href="{% url 'rosters:list' %}">Groups</a>
            </li>
            <li
            {% if request.path|slice:"1:5" == "lead"%}class='active'{%endif%}
            >
              <a href="#">Leaderboards</a>
            </li>
          {% if user.is_anonymous %}
            <li
            {% if request.path|slice:"1:7" == "player"%}class='active'{%endif%}
            ><a href="{% url 'players:register' %}">sign up</a></li>
            <li
            {% if request.path|slice:"1:6" == "login"%}class='active'{%endif%}
            ><a href="{% url 'login' %}">login</a></li>
          {% else %}
            <li class = "dropdown">
              <a href = "#" class="dropdown-toggle" data-toggle="dropdown">{{ user }}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'players:detail' user.username %}">Profile</a></li>
                <li><a href="{% url 'password_change' %}">Change Password</a></li>
                <li><a href="{% url 'logout' %}">logout</a></li>
              </ul>
            </li>

          {% endif %}
        </ul>

      {% endblock %}
    </div>

    {% endblock %}
    </div>


      {% block page_content %}{% endblock %}


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>



  </div>
   {% block page_footer %}
    <div class="footer" style="position: absolute; bottom: 0; width: 100%; background-color: #f5f5f5; height=60px">
      <div class="container">
      {% if user.is_authenticated %}
        <p class="text-muted"><center>watch your back, {{user.username}}...</center></p>
      {% else %}
        <p class="text-muted"><center>watch your back...</center></p>
      {% endif %}


      </div>
    </div>
    {% endblock %}
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56400347-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
