{% extends "_layouts/base.html" %}

{% block page_content %}

<div class="container">
    <div class="container">
    <p>Assassinate.me is a website for getting your friends together to play some games.</p>

    <p>The website was originally created to allow easy moderation and notification of players during various stages of the game, but has since grown to encompass many different styles and rules of play.</p>


    <a href="http://en.wikipedia.org/wiki/Assassin_(game)" target="_blank">http://en.wikipedia.org/wiki/Assassin_(game)</a>
    </div>
</div>


{% endblock %}