{% extends "_layouts/base.html" %}

{% block page_content %}


<div class="col-sm-8 col-sm-offset-1">
    <p>It's assassins time!</p>

    <p>Create a group, invite your friends, set some ground rules, and start a game.  </p>

    <p>For now, the only game type available is of the traditional "assassins" style, where each player is assigned a target, and killing their target yields a new one until the last assassin standing becomes the winner!</p>

    <h3>Future Features:</h3>
    <ol>
    <li>profile pictures</li>
    <li>image status update support</li>
      <ul>
        <li>attach a kill image to your action</li>
        <li>render image/video links in-line in the stream</li>

      </ul>
    <li>text messaging support</li>
      <ul>
        <li>submit your kill (with photo)</li>
        <li>receive updates/notifications</li>
      </ul>
    <li>multiple game modes auto-moderated</li>
      <ul>
        <li>standard (done)
        <li>FFA</li>
        <li>Team Deathmatch</li>
        <li>Protect the VIP</li>
        <li>Zombie Takeover</li>
      </ul>
    <li>twitter integration</li>
    <li>standalone mobile app with extra GPS fun?!</li>
    </ol>


    <a href="http://en.wikipedia.org/wiki/Assassin_(game)" target="_blank">http://en.wikipedia.org/wiki/Assassin_(game)</a>
</div>



{% endblock %}