{% extends "_layouts/base.html" %}


{% block page_title %}Change Password | {% endblock %}

{% block page_content %}
<div class='col-sm-8 col-sm-offset-2'>
    <div class='sidebar-module sidebar-module-inset'>
    <form action="" method="post">{% csrf_token %}

    {% if form.errors %}
        <p class="errornote">
        {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
        </p>
    {% endif %}


    <em>Please enter your old password, for security's sake, and then enter your new password twice so we can verify that you typed it in correctly.</em>
    <br>

    <fieldset class="module aligned wide">

    <div class="form-row">
        {{ form.old_password.errors }}
        {{ form.old_password.label_tag }}
        {{ form.old_password }}
    </div>

    <div class="form-row">
        {{ form.new_password1.errors }}
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
    </div>

    <div class="form-row">
        {{ form.new_password2.errors }}
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
    </div>

    </fieldset>
    <br>
    <div class="submit-row">
        <input type="submit" value="Change my password" class="btn btn-primary" />
        <a class='btn btn-default' href="{% url 'rosters:list' %}">Cancel</a>
    </div>

    </form>
    </div>
</div>
<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
{% endblock %}